body{
  font-family: 'Open Sans', sans-serif;
  background-image: url("../img/small_steps.png");
  background-repeat: repeat;
}

#about-me{
  font-family: 'Raleway', sans-serif;
}

#about-me img{
  max-width: 33%;
  margin-bottom: 20px;
}

#about-me p{
  line-height: .85;
}

.jumbotron {
  text-align: center;
  border-color: #ddd;
  border: 5px;
}


.panel {
  min-height: 50%;
}

div .col-md-4 .panel-body {
  min-height:302px;
}

div .col-md-3 .panel-body {
  min-height:429.5px;
}

h2{
  margin-top: 0;
  margin-bottom: 20px;
}

h1{
  margin-bottom: 0;
}

em{
  font-family: 'Lobster', cursive;
}


.purple-line-left {
  float:left;
  height: 400px;
}

.purple-line-right{
  float:right;
  height: 400px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

 a:link{
  color: #68228B;
}

a:visited {
    color: #BDA0CB;
}

a:hover {
    color: #CC92C2;
    text-decoration: none;
}

a:active {
    color: #000;
}

.panel-body img{
  height:100%;
  width: 100%;
}
